<div id="container-index">
  <h2>Voici la liste de tous les joueurs</h2>
  <div class="ais-InstantSearch">
    <h1>Chercher un joueur</h1>
    <div id="searchbox"></div>
    <div id="hits"></div>
  </div>
</div>
